{% if user.is_authenticated %}

    <div class="dropdown" style="display: inline">

        <!-- Кнопка пользовательского меню -->
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            {% if user.last_name %}{{ user.last_name }}{% endif %}
            {% if user.first_name %}{{ user.first_name }}{% endif %}
            <b class="caret"></b>
        </a>

        <!-- Выпадающее меню -->
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'change_password' %}">
                <span class="glyphicon glyphicon-info-sign"></span> Сменить пароль
            </a></li>
            <li><a href="{% url 'sign_out' %}">
                <span class="glyphicon glyphicon-log-out"></span> Выход
            </a></li>
        </ul>

    </div>

{% else %}

    <!-- Кнопка авторизации -->
    <a href="{% url 'sign_in' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-user"></span> Авторизация
    </a>

{% endif %}
