{% extends "index.html" %}

{% block content %}

    <div class="pull-right" style="width: 260px">

        <form role="form" method="get" action="{% url 'appeals_list' %}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span> Поиск
                    </button>
                </div>
            </div>
        </form>

    </div>

    <table class="table table-striped">

        <thead>
        <tr>
            <th class="col-md-1">&#X02116;</th>
            <th class="col-md-7">Потребитель</th>
            <th class="col-md-3">Контактная информация</th>
            <th class="col-md-1">Дата</th>
        </tr>
        </thead>
        <tbody>

        {% for item in items %}

            <tr>
                <td>
                    <a href="#" data-toggle="details" data-id="{{ item.pk }}">
                        {{ item }}
                    </a>
                </td>
                <td>
                    {% if item.legal_name and item.client %}
                        {{ item.legal_name }} ({{ item.client }})
                    {% endif %}

                    {% if item.legal_name and not item.client %}
                        {{ item.legal_name }}
                    {% endif %}

                    {% if item.client and not item.legal_name %}
                        {{ item.client }}
                    {% endif %}

                    {% if not item.legal_name and not item.client %}
                        Потребитель не указан
                    {% endif %}
                </td>
                <td>

                    {% if item.com_info %}
                        {{ item.com_info }}
                    {% else %}
                        Отсутствует
                    {% endif %}

                </td>
                <td>{{ item.date|date:"d.m.Y" }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% with items as list %}
        {% include "paginator.html" %}
    {% endwith %}


{% endblock %}

{% block scripts %}
    <script type="application/javascript">

        $(document).ready(function () {

            $('a[data-toggle="details"]').detailsView({
                'title': 'Информация по обращению',
                callback: function (e, f) {
                    $.get("{% url 'appeal_details' %}", {'id': e.data('id')}, f);
                }
            });

        });

    </script>
{% endblock %}