<p><b>{{ data.LABELS.date }}: </b><span>{{ data.date|date:"d.m.Y" }}</span></p>
<p><b>{{ data.LABELS.time }}: </b><span>{{ data.time|time:"H:i" }}</span></p>
<p><b>{{ data.LABELS.com_method }}: </b><span>{{ data.get_com_method_display }}</span></p>
<p><b>{{ data.LABELS.appeal_type }}: </b><span>{{ data.get_appeal_type_display }}</span></p>
<p><b>{{ data.LABELS.client_type }}: </b><span>{{ data.get_client_type_display }}</span></p>

{% if data.legal_name %}<p><b>{{ data.LABELS.legal_name }}: </b><span>{{ data.legal_name }}</span></p>{% endif %}

<p><b>{{ data.LABELS.client }}: </b><span>{{ data.client }}</span></p>
<p><b>{{ data.LABELS.com_info }}: </b><span>{{ data.com_info }}</span></p>

{% if data.object_name %}<p><b>{{ data.LABELS.object_name }}: </b><span>{{ data.object_name }}</span></p>{% endif %}

<p><b>{{ data.LABELS.request }}: </b><span>{{ data.get_request_display }}</span></p>
<form>
    <div class="control-group">
        <label class="control-label" for="finished-events">{{ data.LABELS.finished_events }}:</label>
        <div class="controls">
            <textarea id="finished-events" class="form-control" readonly="readonly" rows="3">{{ data.finished_events }}</textarea>
        </div>
    </div>
</form>
<form>
    <div class="control-group">
        <label class="control-label" for="planned-events">{{ data.LABELS.planned_events }}:</label>
        <div class="controls">
            <textarea id="planned-events" class="form-control" readonly="readonly" rows="3">{{ data.planned_events }}</textarea>
        </div>
    </div>
</form>
<p><b>Зарегистрировал: </b><span>{{ data.user.first_name }} {{ data.user.last_name }}</span></p>
