
<!-- Работа с обращениями -->
<li class="nav-header">Работа с обращениями</li>
<li><a href="{% url 'create_appeal' %}">Регистрация обращения</a></li>
<li><a href="{% url 'appeals_list' %}">Просмотр и поиск обращений</a></li>
<li><a href="{% url 'appeals_journal' %}">Журнал учёта обращений потребителей</a></li>
<li><a href="{% url 'appeals_form9' %}">Информация по обращениям потребителей (отчёт по форме №9)</a></li>

