/*
Copyright 2016 Dmitriy Vasilyev

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

body {
    background: url("../img/aesk.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    background: #b77200;
    background: linear-gradient(to top, #aa6500, #c37500);
}

#header h1 {
    text-shadow: 0 1px 1px #d67400;
}

#header h1 a {
    color: #6e3802;
}

#header h1 a:hover {
    color: #673302;
}

#header button.btn {
    color: #6e3802;
    background-color: transparent;
}