/*
Copyright 2016 Dmitriy Vasilyev

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

body {
    background: url("../img/bg.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    height: 60px;
    background: #3a3a3a;
    background: linear-gradient(to top, #3a3a3a, #525252);
    border: none;
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

@media (min-width : 1200px) {
    #header {
        margin-top: 120px;
    }
}

@media (max-width : 1200px) {
    #header {
        margin-top: 40px;
    }
}

#header h1 {
    margin: 0;
    padding: 8px 15px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 1px 1px #00435a;
}

#header h1 a {
    color: #00b3ee;
    text-decoration: none;
}

#header h1 a:hover {
    color: #0082b4;
}

#header button.btn {
    color: #00b3ee;
    background-color: transparent;
}

#page {
    background-color: #f5f5f5;
}

#left-menu {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

#left-menu ul {
    padding: 10px 0;
}

@media (min-width : 992px) {
    #left-menu {
        float: left;
        display: block;
        width: 280px;
    }
}

@media (max-width : 992px) {
    #left-menu {
        width: 100%;
    }
}

#left-menu .nav .nav-header {
    color: #999999;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

#left-menu .navbar {
    padding: 10px;
}

@media (max-width: 992px) {

    #left-menu.navbar-collapse.collapse {
        height: 0 !important;
    }

    #left-menu.navbar-collapse.collapse.in {
        height: auto !important;
    }

    #left-menu .dropdown-menu li a {
        white-space: normal;
        word-wrap: break-word;
    }
}


#content {
    float: left;
    display: block;
    padding: 0 15px 30px;
    position: relative;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #content {
        width: 100%;
    }
}

@media (min-width : 992px) {
    #content {
        min-height: 500px;
        width: 690px;
    }
}

@media (min-width : 1200px) {
    #content {
        min-height: 500px;
        width: 890px;
    }
}

#content h2 {
    color: #999999;
    display: block;
    font-size: 24px;
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: #999999 solid 1px;
}

#content h4 {
    color: #000000;
    display: block;
    font-size: 18px;
    padding: 10px 0;
}

#user-bar {
    height: 55px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e8e8e8;
}

#messages {
    clear: both;
    display: block;
    padding: 20px;
}

#footer {
    padding: 15px 30px;
    line-height: 10px;
    background: #dddddd;
    border-radius: 0 0 12px 12px;
    min-height: 100px;
    margin-bottom: 100px;
}

.control-group label {
    margin: 5px 0;
}

.control-group .controls {
    margin: 5px 0;
}

.control-group .help-block ul {
    padding: 0 10px;
}
