{% extends "index.html" %}
{% load portal %}

<!--
    Шаблон для простых форм
-->

{% block content %}
    {% if forms %}
        <form role="form" class="form-horizontal" method="post" enctype="multipart/form-data">

            {% for form in forms %}
                {% for field in form %}

                    {% if not field.is_hidden %}

                        <div class="control-group">

                            {% if not labels == 'hide' %}
                                <label class="control-label col-lg-3 col-md-4">
                                    {% if field|field_type != "CheckboxInput" %}
                                        {{ field.label }}
                                    {% endif %}
                                </label>
                            {% endif %}


                            {% if not field.errors %}

                                <div class="controls{% if not labels == 'hide' %} col-lg-9 col-md-8{% endif %}">
                                    {{ field }}
                                    {% if field|field_type == "CheckboxInput" %}{{ field.label }}{% endif %}
                                    {% if field.help_text %}
                                        <span class="help-block"><small>{{ field.help_text|safe }}</small></span>
                                    {% endif %}
                                </div>

                            {% else %}

                                <div class="controls has-error{% if not labels == 'hide' %} col-lg-9 col-md-8{% endif %}">
                                    {{ field }}
                                    {% if field|field_type == "CheckboxInput" %}{{ field.label }}{% endif %}
                                    {% for error in  field.errors %}
                                        <span class="help-block error"><small>{{ error }}</small></span>
                                    {% endfor %}
                                </div>

                            {% endif %}

                        </div>

                    {% else %}
                        <div class="control-group">
                            {{ field }}
                        </div>
                    {% endif %}

                {% endfor %}
            {% endfor %}

            {% csrf_token %}

            <div class="{% if not labels == 'hide' %} col-lg-9 col-md-8 col-lg-offset-3 col-md-offset-4{% endif %}" style="margin-top: 20px">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-send"></span> {{ submit }}
                </button>

                {% for button in buttons %}
                    <a href="{{ button.url }}" class="btn btn-default">
                        {{ button.submit }}
                    </a>
                {% endfor %}

            </div>
        </form>
    {% endif %}
{% endblock %}