<!DOCTYPE html>{% load static from staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="No-cache">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Регистрация обращений</title>
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}" rel="stylesheet">
    <link href="{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <link href="{% static "css/aesk.css" %}" rel="stylesheet">

</head>
<body>

    <div class="container">

        <!--
        Заголовок
        -->
        <div id="header" class="row">

            <div class="pull-right hidden-md hidden-lg">
                <button class="btn collapsed" data-toggle="collapse" data-target="#left-menu" aria-expanded="false" aria-controls="navbar">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

            <div class="pull-left">
                <h1><a href="/">Регистрация обращений</a></h1>
            </div>
        </div>

        <div id="page" class="row">

            <div id="left-menu" class="navbar-collapse collapse" aria-expanded="false">

                <!--
                Основное меню
                -->
                <div class="navbar" role="navigation">

                    <ul class="nav nav-list nav-stacked">
                        {% include "main/menu.html" %}
                    </ul>

                </div>

            </div>

            <div id="content">

                <div id="user-bar" class="row">

                    <!--
                    Пользовательское меню
                    -->
                    <div class="pull-right" role="navigation">
                        {% include "portal/menu.html" %}
                    </div>

                </div>

                <!--
                Содержимое
                -->
                <h2>{% block title %}{{ title }}{% endblock %}</h2>
                {% block content %}[content]{% endblock %}

                {% if messages %}
                    <!--
                    Системные сообщения
                    -->
                    <div id="messages">
                    {% for message in messages %}
                        <div{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

            </div>

        </div>

        <!--
        Подвал
        -->
        <div id="footer" class="row">
            <div class="pull-right">
                <p><b>Dmitriy Vasilyev, &copy; {% now "Y" %}</b></p>
                <p><b>E-mail:</b> <a href="mailto:gothness@ymail.com">gothness@ymail.com</a></p>
            </div>
        </div>

    </div>

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bower_components/moment/min/moment-with-locales.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>

    <script src="{% static "js/jquery.ui.extrafields.js" %}"></script>
    <script src="{% static "js/jquery.ui.detailsview.js" %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>