
{% if list.paginator.num_pages > 1 %}
    <!--
    Постраничная навигация
    -->
    <div class="col-md-offset-2 col-md-10" style="display: block">

        <ul class="pagination">

            <!-- На первую страницу -->
            <li{% if not list.has_previous %} class="disabled" {% endif %}>
                <a href="?page=1">
                    <span class="glyphicon glyphicon-fast-backward"></span> Первая
                </a>
            </li>

            <!-- На предыдущую страницу -->
            <li{% if not list.has_previous %} class="disabled" {% endif %}>
                <a href="{% if list.has_previous %}?page={{ list.previous_page_number }}{% else %}#{% endif %}">
                    <span class="glyphicon glyphicon-backward"></span> Предыдущая
                </a>
            </li>

            <!-- На следующую страницу -->
            <li{% if not list.has_next %} class="disabled" {% endif %}>
                <a href="{% if list.has_next %}?page={{ list.next_page_number }}{% else %}#{% endif %}">
                    <span class="glyphicon glyphicon-forward"></span> Следующая
                </a>
            </li>

            <!-- На последнюю страницу -->
            <li{% if not list.has_next %} class="disabled" {% endif %}>
                <a href="{% if list.has_next %}?page={{ list.paginator.num_pages }}{% else %}#{% endif %}">
                    <span class="glyphicon glyphicon-fast-forward"></span> Последняя
                </a>
            </li>

        </ul>
    </div>
{% endif %}
